@import 'materialize-css/dist/css/materialize.min.css';

button {
  min-width: 80px;
}

button + button {
  margin-left: 10px;
}

.slide {
  height: 220px;
  border-radius: 10px;
}

.slide p {
  text-align: justify;
}

.buttons {
  margin-top: 20px;
}
